<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.css' />
    <title>Mongoose Flights | Here's all the Flights</title>
</head>
<body>
    <h1>Flights Index</h1>
    <table>
        <thead>
            <th>Customer Name</th>
            <th>Departs Date</th>
            <th>FlightNum</th>
            <th>Now Flying</th>
        </thead>
        <tbody>
            <% flights.forEach(flight => { %>
                <tr>
                    <td><%= flight.customerName %></td>
                    <td><%= flight.departsDate %></td>
                    <td><%= flight.FlightNum %></td>
                    <td><%= flight.nowFlying ? 'yes' : 'nope' %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>